# Dependency directories
node_modules/

# Build output
dist/

# Environment variables
.env

# Temporary files
temp/

# Logs
logs/
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
